{% extends 'index.html' %}
{% load static %}
{% block content1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #17a2b8;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #17a2b8;
}

/* Set a style for the submit button */
.btn1 {
  background-color: #17a2b8;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
</style>
{% endblock content1 %}
{% block content %}
<div class="container-fluid pt-5">
{% if confirmation_message %}
    <p>{{ confirmation_message }}</p>
    <a href="{% url 'home' %}">Return to Home Page</a>
{% else %}
<form style="max-width:500px;margin:auto" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <table>
        {{form.as_table}}
        {{form.errors}}
    </table>



  <button type="submit" class="btn1">register </button>
</form>
{% endif %}

</div>
<script>
        $(document).ready(function() {
            $('#id_department').change(function() {
                var departmentId = $(this).val();
                $.ajax({
                    url: '/get-courses/',
                    data: {
                        'department_id': departmentId
                    },
                    dataType: 'json',
                    success: function(data) {
                        var courseSelect = $('#id_course');
                        courseSelect.empty();
                        courseSelect.append('<option value="">Select Course</option>');
                        $.each(data, function(index, value) {
                            courseSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            });
        });
</script>
{% endblock %}